<!DOCTYPE HTML>
<html lang="es">
	<head>
		<title>INFOSTEAM</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/static/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/static/css/ie8.css" /><![endif]-->
        <link rel="icon" href="https://store.steampowered.com/favicon.ico" type="image/x-icon">
	</head>
	<body class="right-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">

						<!-- Logo -->
							<h1><a href="index.html">INFOSTEAM</a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="index.html">Inicio</a></li>
									<li class="current"><a href="busperfil.html">Perfil Steam</a></li>
									<li><a href="formulario.html">Busqueda</a></li>
									<li><a href="contacta.html">Contacto</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">

						<!-- Content -->
							<article class="box post">
								<a href="#" class="image featured"><img src="images/4.jpg" alt="" /></a>
								<header>
									<h2>Esto es Battle Royale.</h2>
								</header>
								<p>
									Nuestro modo de juego BATTLE ROYALE brindará hasta 100 jugadores en una isla remota
                                    para que el ganador se lleve todo, donde el juego estratégico es tan importante como las habilidades de tiro. 
                                    Los jugadores entrarán en una batalla de último palo donde tratarán de localizar armas, vehículos y suministros en un campo de batalla rico en gráficos y tácticas
                                    que eventualmente forzará a los jugadores a una zona de juego cada vez más reducida a medida que se enfrascan en una lucha tensa y espectacular hasta la muerte. 
                                    
                                </p>
                                <p>
                                    PLAYERUNKNOWN (Brendan Greene - Director creativo en Bluehole ) es el pionero del género Battle Royale. 
                                    Desde humildes comienzos creando el modo de juego Battle Royale en la serie ARMA, 
                                    pasó a licenciar su modo de juego a Sony Online Entertainment (ahora Daybreak Games) para incluirlo en su título H1Z1.
                                    
                                    Ahora trabajo como director creativo en BATTLEGROUNDS, 
                                    finalmente tiene la oportunidad de crear su propia versión del modo de juego que generó un nuevo género en el juego.
                                    
                                    "Desde que comencé a hacer el modo de juego Battle Royale en ARMA 2, siempre he querido hacer un buen juego. 
                                    Con Bluehole, y su filosofía de crear juegos "bien hechos", 
                                    Estoy seguro de que juntos podemos crear un gran juego ".
                                    
                                    PLAYERUNKNKNOWN
                                </p>
                                <p> 
                                   
                                    Desde que comenzamos este proyecto hace un año, 
                                    nos hemos comunicado con la comunidad de Battle Royale para recabar sugerencias 
                                    y comentarios sobre lo que quieren y esperan del juego.
                                    
                                    Desde que comenzamos nuestras pruebas pre alfa, 
                                    hemos trabajado con ellos para implementar sugerencias, 
                                    obtener retroalimentación sobre el juego, y pedir su ayuda cuando realizamos pruebas alfa y beta.
                                </p> 
                                    
                                <p>
                                    Durante Early Access, tendremos juegos personalizados 
                                    en servidores privados disponibles para nuestros socios.
                                    
                                    Ampliaremos el alcance de este programa 
                                    una vez que el sistema central está funcionando bien.
                                </p>
                                <p>
                                       
                                    Desde el comienzo, 
                                    queríamos proporcionar a los jugadores la habilidad 
                                    para crear nuevos modos de juego y mods basados ​​en nuestro juego.
                                    
                                    Hemos creado un mundo altamente detallado y proporcionamos creadores de contenido 
                                    con una gran cantidad de vehículos, armas y artículos para usar en sus propios mods.
                                    
                                    Nuestros jugadores tendrán el uso completo de nuestros activos 
                                    y puede crear su propio contenido para incluirlo en sus modificaciones, 
                                    ¡usando el poderoso devkit de Unreal Engine!

                                </p>
                                
                                <h2> Juegos mas jugados del mundo</h2>
                                <br/>
                                    <table>
                                        <tr>
                                            <th>Nombre del juego</th>
                                            <th>Precio del juego</th>
                                            <th>Nº Jugadores</th>
                                            
                                        </tr>
                                        
                                        <tr>
                                            <th>PUBG</th>
                                            <th>29€</th>
                                            <th>2.325.265</th>
                                            
                                        </tr>
                                        
                                        <tr>
                                            <th>League of legends</th>
                                            <th>Gratuito</th>
                                            <th>1.265.985</th>
                                            
                                        </tr>
                                        
                                        <tr>
                                            <th>Fortnite</th>
                                            <th>12€</th>
                                            <th>823.486</th>
                                            
                                        </tr>
                                        
                                        <tr>
                                            <th>Trackmania Turbo</th>
                                            <th>20€</th>
                                            <th>810.369</th>
                                            
                                        </tr>
                                    </table>
                                
                                <h2> La munición y arma ordenadas en una lista</h2>
                                <br>
                                
                                <ul style="list-style-type: square">
                                    <li><b> .300 Magnum </b></li></ul>
		                              	<ol style="list-style-type: lower-roman"> 
		                              		<li><b>AWM</b></li> 
		                              	</ol>
                                <ul style="list-style-type: square">
                                    <li><b>.45 ACP</b></li></ul>
		                              	<ol style="list-style-type: lower-roman">
		                              		<li><b> P1911 </b></li> 
		                              		<li><b> Tommy Gun </b></li> 
		                              		<li><b> Vector </b></li>
		                              	</ol>
                                <ul style="list-style-type: square">
                                    <li><b>Calibre 12</b></li></ul>
		                              	<ol style="list-style-type: lower-roman">
		                              		<li><b> S1897 </b></li> 
		                              		<li><b> S686 </b></li> 
		                              		<li><b> S12K </b></li>
		                              	</ol>
                                <ul style="list-style-type: square">
                                    <li><b>5.56mm</b></li></ul>
		                              	<ol style="list-style-type: lower-roman">
		                              		<li><b> M16A4 </b></li> 
		                              		<li><b> M249 </b></li> 
		                              		<li><b> M416 </b></li>
                                            <li><b> SCAR-L </b></li>
		                              	</ol>
                                
							</article>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<section id="footer" class="container"><h2>PIE DE PÁGINA</h2>
						<div class="row">
							<div class="4u 12u(mobile)">
								<section>
									<header>
										<h2>Visitanos en</h2>
									</header>
									<ul class="social">
										<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
										<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
										<li><a class="icon fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
										<li><a class="icon fa-linkedin" href="#"><span class="label">LinkedIn</span></a></li>
										<li><a class="icon fa-google-plus" href="#"><span class="label">Google+</span></a></li>
									</ul>
								</section>
							</div>
						</div>
					</section>
				</div>
                            <!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Untitled. All rights reserved.</li><li>Design: HTML5 UP</li>
										</ul>
									</div>
		</div>


		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/jquery.dropotron.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="/static/js/skel-viewport.min.js"></script>
			<script src="/static/js/util.js"></script>
			<!--[if lte IE 8]><script src="/static/js/ie/respond.min.js"></script><![endif]-->
			<script src="/static/js/main.js"></script>

	</body>
</html>