{% extends "base.html" %}
{% block menu2 %}<li class="current"><a href="contacta.html">Contacto</a></li>{% endblock %}		
{% block contenido3 %}{% block contenido %}
							<article class="box post">
								<a href="#" class="image featured"><img src="images/5.jpg" alt="" /></a>
								<header>
									<h2>Podeis contactar con nosotros mediante el siguiente formulario.</h2>
								</header>
                                <p>
                                    Para cualquier problema podras contactar con nosotros mediante correo. Contactaremos contigo tan rápido como nos sea posible.
                                </p>
                                    <form method="post" action="http://dit.gonzalonazareno.org/iesgn/resultado.php">
		                            <label for="nombre">Tu correo electronico:</label>
		                            <input type="text" name="nombre" id="nombre"><br>
                            
                            		<label for="asunto">Asunto:</label>
                            		<input type="text" name="asunto" id="asunto"><br>
                            
                            		<label for="mensaje">Mensaje: </label>
                            		<textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea><br>
                            
                            		<input type="submit">
                                    </form>
							</article>
{% endblock %}