{% extends "base.html" %}	
{% block contenido3 %}
							<article class="box post">
								<a href="#" class="image featured"><img src="images/5.jpg" alt="" /></a>
								<header>
									<h2>Podeis contactar con nosotros mediante el siguiente formulario.</h2>
								</header>
                                <p>
                                    Para cualquier problema podras contactar con nosotros mediante correo. Contactaremos contigo tan rápido como nos sea posible.
                                </p>
                                    <form method="post" action="http://dit.gonzalonazareno.org/iesgn/resultado.php">
		                            <label for="nombre">Tu correo electronico:</label>
		                            <input type="text" name="nombre" id="nombre"><br>
                            
                            		<label for="asunto">Asunto:</label>
                            		<input type="text" name="asunto" id="asunto"><br>
                            
                            		<label for="mensaje">Mensaje: </label>
                            		<textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea><br>
                            
                            		<input type="submit">
                                    </form>
							</article>
{% endblock %}

{% block contenido2 %}
							<div class="4u 12u(mobile)">

								<!-- Sidebar -->
									<section class="box">
										<a href="#" class="image featured"><img src="/static/images/2.jpg" alt="" /></a>
										<header>
											<h3>Obtenga acceso a la Codename</h3>
										</header>
										<p>Hola a todos, ¡Nuestro nuevo mapa 4x4 está en pleno desarrollo y necesitamos su ayuda para hacerlo realidad!</p>
										<footer>
											<a href="pagina1.html" class="button alt">Leer mas</a>
										</footer>
									</section>
									<section class="box">
										<header>
											<h3>Enlace a otras páginas</h3>
										</header>
										<p>Aquí podemos encontrar otras páginas de colaboradores.</p>
										<ul class="divided">
											<li><a href="https://github.com/ismaelse95">GitHub Ismael</a></li>
											<li><a href="https://github.com/josedom24">Página Jose Domingo</a></li>
											<li><a href="http://dit.gonzalonazareno.org/moodle/index.php">Moodle IES Gonzalo Nazareno</a></li>
										</ul>
									</section>
							</div>
{% endblock %}