<!DOCTYPE HTML>
<html lang="es">
	<head lang="es">
		<title>INFOSTEAM</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/static/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/static/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/static/css/ie8.css" /><![endif]-->
        <link rel="icon" href="https://store.steampowered.com/favicon.ico" type="image/x-icon">
	</head>
	<body class="right-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">

						<!-- Logo -->
							<h1><a href="index.html">INFOSTEAM</a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="index.html">Inicio</a></li>
									<li><a href="busperfil.html">Perfil Steam</a></li>
									<li class="current"><a href="formulario.html">Busqueda</a></li>
									<li><a href="contacta.html">Contacto</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">

						<!-- Content -->
							<article class="box post">
								<a href="#" class="image featured"><img src="images/3.jpeg" alt="" /></a>
                                        <h4>Registrarse en PUBG</h4>
                                        <form action="http://dit.gonzalonazareno.org/iesgn/resultado.php" method="post">
                                        <div>
                                            <fieldset>
                                                <legend>Datos:</legend>
                                                Nombre: <input type="text" name="nombre" value="" />
                                                <br/>
                                                Apellidos: <input type="text" name="apellidos" value="" />
                                                <br/>
                                                Contraseña: <input type="password" name="contrasena" value="" />
                                                <br/>
                                                Año de nacimiento: <input type="date" name="fecha">
                                                <br/>
                                                Edad: <input type="text" name="edad" id="edad" />
                                            </fieldset>
                                        </div>
                                        <fieldset>
                                            <legend> Sexo:</legend>
                                            <input type="radio" name="sexo" value="hombre" checked="checked"/> Hombre<br/>
                                            <input type="radio" name="sexo" value="mujer"/> Mujer
                                        </fieldset>
                                        
                                        <fieldset>
                                            <label for="so">Seleccionar nivel de juego:</label> <br/>
                                            <select id="so" name="so">
                                                <option value="" selected="selected">- selecciona -</option>
                                                <option value="Avanzado">Avanzado</option>
                                                <option value="Alto">Alto</option>
                                                <option value="Medio">Medio</option>
                                                <option value="Sin nivel">Sin nivel</option> 
                                            </select><br/>
                                        </fieldset>
                                        <fieldset>
                                            <legend>Otros datos:</legend>
                                            <label for="descripcion">Descripción</label> <br/>
                                            <textarea id="descripcion" name="descripcion" cols="40" rows="5"></textarea><br/>
                                        </fieldset>
                                        
                                        <input type="reset" value="Borrar información">
                                        <input type="submit" value="Enviar">
                                        <br/>
                                            </form>
							</article>

					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<section id="footer" class="container"><h2>PIE DE PÁGINA</h2>
						<div class="row">
							<div class="4u 12u(mobile)">
								<section>
									<header>
										<h2>Visitanos en</h2>
									</header>
									<ul class="social">
										<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
										<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
										<li><a class="icon fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
										<li><a class="icon fa-linkedin" href="#"><span class="label">LinkedIn</span></a></li>
										<li><a class="icon fa-google-plus" href="#"><span class="label">Google+</span></a></li>
									</ul>
								</section>
							</div>
						</div>
					</section>
				</div>
                            <!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Untitled. All rights reserved.</li><li>Design: HTML5 UP</li>
										</ul>
									</div>
		</div>


		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/jquery.dropotron.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="/static/js/skel-viewport.min.js"></script>
			<script src="/static/js/util.js"></script>
			<!--[if lte IE 8]><script src="/static/js/ie/respond.min.js"></script><![endif]-->
			<script src="/static/js/main.js"></script>

	</body>
</html>