{% extends "base.html" %}	
{% block contenido5 %}

						<!-- Content -->
							<article class="box post">
								<a href="#" class="image featured"><img src="images/3.jpeg" alt="" /></a>
                                        <h4>Registrarse en PUBG</h4>
                                        <form action="http://dit.gonzalonazareno.org/iesgn/resultado.php" method="post">
                                        <div>
                                            <fieldset>
                                                <legend>Datos:</legend>
                                                Nombre: <input type="text" name="nombre" value="" />
                                                <br/>
                                                Apellidos: <input type="text" name="apellidos" value="" />
                                                <br/>
                                                Contraseña: <input type="password" name="contrasena" value="" />
                                                <br/>
                                                Año de nacimiento: <input type="date" name="fecha">
                                                <br/>
                                                Edad: <input type="text" name="edad" id="edad" />
                                            </fieldset>
                                        </div>
                                        <fieldset>
                                            <legend> Sexo:</legend>
                                            <input type="radio" name="sexo" value="hombre" checked="checked"/> Hombre<br/>
                                            <input type="radio" name="sexo" value="mujer"/> Mujer
                                        </fieldset>
                                        
                                        <fieldset>
                                            <label for="so">Seleccionar nivel de juego:</label> <br/>
                                            <select id="so" name="so">
                                                <option value="" selected="selected">- selecciona -</option>
                                                <option value="Avanzado">Avanzado</option>
                                                <option value="Alto">Alto</option>
                                                <option value="Medio">Medio</option>
                                                <option value="Sin nivel">Sin nivel</option> 
                                            </select><br/>
                                        </fieldset>
                                        <fieldset>
                                            <legend>Otros datos:</legend>
                                            <label for="descripcion">Descripción</label> <br/>
                                            <textarea id="descripcion" name="descripcion" cols="40" rows="5"></textarea><br/>
                                        </fieldset>
                                        
                                        <input type="reset" value="Borrar información">
                                        <input type="submit" value="Enviar">
                                        <br/>
                                            </form>
							</article>
{% endblock %}
					
{% block contenido2 %}
							<div class="4u 12u(mobile)">

								<!-- Sidebar -->
									<section class="box">
										<a href="#" class="image featured"><img src="https://www.errores.info/wp-content/uploads/2017/07/Steam-730x430.png" alt="" /></a>
										<header>
											<h3>Crear cuenta en STEAM</h3>
										</header>
										<p>¡Para poder empezar a disfrutar de todos los juegos de steam y poder utilizar esta página!</p>
										<footer>
											<a href="https://store.steampowered.com/join/?l=spanish" class="button alt">Leer mas</a>
										</footer>
									</section>
									<section class="box">
										<header>
											<h3>Enlace a otras páginas</h3>
										</header>
										<p>Aquí podemos encontrar otras páginas de colaboradores.</p>
										<ul class="divided">
											<li><a href="https://github.com/ismaelse95">GitHub Ismael</a></li>
											<li><a href="https://github.com/josedom24">Página Jose Domingo</a></li>
											<li><a href="http://dit.gonzalonazareno.org/moodle/index.php">Moodle IES Gonzalo Nazareno</a></li>
										</ul>
									</section>
							</div>
{% endblock %}