<!DOCTYPE HTML>
<html lang="es">
	<head>
		<title>PLAYERUNKNOWN'S BATTLEGROUNDS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <link rel="icon" href="//d1wfiv6sf8d64f.cloudfront.net/static/pc/img/pubg.ico" type="image/x-icon">
	</head>
	<body class="right-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">

						<!-- Logo -->
							<h1><a href="index.html">PLAYERUNKNOWN'S BATTLEGROUNDS</a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="index.html">Inicio</a></li>
									<li><a href="documentacion.html">Documentación</a></li>
									<li><a href="formulario.html">Registrate</a></li>
									<li><a href="contacta.html">Contacto</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="8u 12u(mobile)">

								<!-- Content -->
									<article class="box post">
										<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<header>
											<h2>Notas del parche 1.0</h2>
											<p>Primeras notas del parche del juego.</p>
										</header>
										<p>
											Jugadores,

 

                                            Hoy vamos a echar un vistazo a los cambios y correcciones que vienen con PC 1.0 Update # 9.
                                            
                                            Una vez que se haya demostrado que los cambios realizados en esta compilación de prueba son estables, la compilación de prueba se moverá a los servidores activos. Pronto anunciaremos el cronograma de la actualización del servidor en vivo. 
                                            
                                            Por favor, deje sus comentarios en la sección correspondiente de nuestro Foro Oficial:LINK
										</p>
										<p>
											Mirando a tu asesino

 

                                            Los jugadores ahora pueden ver a su asesino haciendo clic en el botón "mirar" en la pantalla de resultados de los partidos.
                                            Espectador solo asesino
                                            Si tematan por la Zona Azul, la Zona Roja o por una caída, puedes ver al jugador más cercano desde tu ubicación de la muerte. 
                                            Cuandomuere el jugador que estabas viendo, puedes seguir viendo al asesino de ese jugador 
                                            Si el jugador con el que estásespectando se desconecta, puedes seguir viendo a su asesino 
                                            Duo / Squad asesino espectador
                                            Igual que el anterior, pero solo se puede veral equipo enemigo después de que todos los miembros de su equipo estén muertos 
                                            Puedes informar un jugador que estás viendo en el modo Killer Spectate presionando R
                                            Si haces clic en Death Cam, no podrás usar el modo Killer Spectate
										</p>
										<section>
											<header>
												<h3>UI/UX</h3>
											</header>
											<p>
												La configuración predeterminada para el chat de voz cambió a "Solo equipo"
											</p>
											<p>
												Nunc diam iaculis massa, et aliquet nibh leo non nisl vitae porta lobortis, enim neque fringilla nunc,
												eget faucibus lacus sem quis nunc suspendisse nec lectus sit amet augue rutrum vulputate ut ut mi. Aenean
												elementum, mi sit amet porttitor lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
												sit amet nullam consequat feugiat dolore tempus.
											</p>
										</section>
										<section>
											<header>
												<h3>Corrección de errores</h3>
											</header>
											<p>
												Se corrigió un error por el cual los vehículos volcaban repentinamente, salían volando o volvían al punto de partida mientras conducían
                                                Se corrigió un error por el cual no se mostraba el IGN de ​​tu asesino al ver Death Cam
                                                Ajustó el eje de rotación para el modelo de vista previa en el menú de personalización para una mejor usabilidad
                                                
                                                
                                                
                                                Gracias.
											</p>
										</section>
									</article>

							</div>
							<div class="4u 12u(mobile)">

								<!-- Sidebar -->
									<section class="box">
										<a href="#" class="image featured"><img src="images/2.jpg" alt="" /></a>
										<header>
											<h3>Obtenga acceso a la Codename</h3>
										</header>
										<p>Hola a todos, ¡Nuestro nuevo mapa 4x4 está en pleno desarrollo y necesitamos su ayuda para hacerlo realidad!</p>
										<footer>
											<a href="pagina1.html" class="button alt">Leer mas</a>
										</footer>
									</section>
									<section class="box">
										<header>
											<h3>Enlace a otras páginas</h3>
										</header>
										<p>Aquí podemos encontrar otras páginas de colaboradores.</p>
										<ul class="divided">
											<li><a href="https://github.com/ismaelse95">GitHub Ismael</a></li>
											<li><a href="https://github.com/josedom24">Página Jose Domingo</a></li>
											<li><a href="http://dit.gonzalonazareno.org/moodle/index.php">Moodle IES Gonzalo Nazareno</a></li>
										</ul>
									</section>

							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<section id="footer" class="container"><h2>PIE DE PÁGINA</h2>
						<div class="row">
							<div class="4u 12u(mobile)">
								<section>
									<header>
										<h2>Visitanos en</h2>
									</header>
									<ul class="social">
										<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
										<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
										<li><a class="icon fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
										<li><a class="icon fa-linkedin" href="#"><span class="label">LinkedIn</span></a></li>
										<li><a class="icon fa-google-plus" href="#"><span class="label">Google+</span></a></li>
									</ul>
								</section>
							</div>
						</div>
					</section>
				</div>
                            <!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Untitled. All rights reserved.</li><li>Design: HTML5 UP</li>
										</ul>
									</div>
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>